.root {
    background: #00FFD0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000433;
    border-radius: 8px;
    padding: 9px;

    &:hover:not(:disabled) {
        background: #41FFDC;
    }

    &:active:not(:disabled) {
        background: #02FBCD;
    }

    &.large {
        padding: 20px 9px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
}

.fullWidth {
    width: 100%;
}