.root {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 12px;
}

.text {
    font-family: 'Caros';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}