.root {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 12px;
}

.text {
    font-family: 'Caros';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width: 700px) {
    .text {
        display: none;
    }
}

@media (max-width: 600px) {
    .root {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    .text {
        display: block;
    }
}