.root {
    position: relative;
    border: 1px solid #D9DBE1;
    border-radius: 8px;
    overflow: hidden;
}

.input {
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #969BAB;
    }
}

.cssIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}