.root {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 4, 51, 0.6);
    backdrop-filter: blur(8px);
    z-index: 200;
}